.menu {
    width: calc(100% - 58px);
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #F5F5F5;
}

.menu img {
    background-color: #F5F5F5;
}
@media (max-width:425px) {
    .menu{
        padding: 0.5rem 1rem;
    }
    
}
